
mixin AdaptiveSlider(id, images, options)

    - var toggles    = options && options.toggles    || "true";
    - var controls   = options && options.controls   || "true";
    - var autoswitch = options && options.autoswitch || "true";

    //- Slider block
    div.adaptive-slider(id=id data-toggles=toggles data-controls=controls data-autoswitch=autoswitch class=options.active)
        
        // begin adaptive-slider__container
        div.adaptive-slider__container
            
            //- Slides list
            ul.adaptive-slider__list
                - for (var i = 0; i < images.length; i++)
                    //- Slide
                    li.adaptive-slider__item( class=(i == 0 ? "adaptive-slider__item--active" : "") )
                        img.adaptive-slider__image( src=images[i] alt="" width="100%" )

            //- Toggles. Create dynamically with JS
            ul.adaptive-slider__toggles
            
        // end adaptive-slider__container
        
        //- Arrows. Create dynamically with JS
        div.adaptive-slider__controls